body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: url('img/filmszinhaz.png') no-repeat center center fixed;
    background-size:auto 100%;
    position:static;
}

.overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    text-align: center;
}

.center-content h1 {
    font-size: 2.5rem;
    color: #8f1010;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
    
}

.stilusos-gomb {
    width: 200px;
    font-size: 1.3rem;
    padding: 15px 40px;
    border: none;
    border-radius: 15px;
    background: #222;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.2s;
    margin-top: 20px;
}
.stilusos-gomb:hover {
    background: #888;
    transform: scale(1.05);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8f1010;
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: bold;
  font-style: italic;
  text-decoration: double underline;
}