.vissza-gomb {
  background-color: #f0f0f0;
  color: rgb(153, 153, 153);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  margin: 20px auto 0 auto;
  display: block;
  transition: background-color 0.3s;
}
.vissza-gomb:hover {
  background-color: #f0f0f0;
  color: #000;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 50px;
    color: #8f1010;
    font-weight: bolder;
    font-style: italic;
    margin: 10px;
    text-decoration:double underline;
}
.kepek{
  width: 200px; 
  height: 300px; 
  margin-bottom: 10px;
}

.doboz{
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.film-kartya {
  width: 250px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.film-kartya h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8f1010;
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: bold;
  font-style: italic;
}

.fijlec{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(180, 180, 180);
}
button {
    background-color: #fcfcfc;
    color: rgb(158, 158, 158);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    
    font-size: 25px;
    transition: background-color 0.3s;
    text-decoration: underline;
}
button:hover {
    background-color: #b98b8b;
    color: white;
}
